# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
node_modules/
vendor/

# Go workspace
go.work

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
.DS_Store

# Backend specific
backend/.env
backend/tmp/
